.photo-box:nth-child(1) {
  background-image: url("../assets/phoster1.png");
}

.photo-box:nth-child(2) {
  background-image: url("../assets/phoster2.png");
}

.photo-box:nth-child(3) {
  background-image: url("../assets/phoster3.png");
}

.photo-box:nth-child(4) {
  background-image: url("../assets/phoster4.png");
}

.photo-box:nth-child(5) {
  background-image: url("../assets/phoster5.png");
}

.photo-box:nth-child(6) {
  background-image: url("../assets/phoster6.png");
}

.photo-box:nth-child(7) {
  background-image: url("../assets/phoster7.png");
}

.photo-box:nth-child(8) {
  background-image: url("../assets/phoster8.png");
}

.photo-box:nth-child(9) {
  background-image: url("../assets/phoster9.png");
}

.photo-box:nth-child(10) {
  background-image: url("../assets/phoster10.png");
}

.photo-box:nth-child(11) {
  background-image: url("../assets/phoster11.png");
}

.photo-box:nth-child(12) {
  background-image: url("../assets/phoster12.png");
}

.photo-box:nth-child(13) {
  background-image: url("../assets/phoster13.png");
}

.photo-box:nth-child(14) {
  background-image: url("../assets/phoster14.png");
}

.photo-box:nth-child(15) {
  background-image: url("../assets/phoster15.png");
}

.photo-box:nth-child(16) {
  background-image: url("../assets/phoster16.png");
}

.photo-box:nth-child(17) {
  background-image: url("../assets/phoster17.png");
}

.photo-box:nth-child(18) {
  background-image: url("../assets/phoster18.png");
}

.photo-box:nth-child(19) {
  background-image: url("../assets/phoster19.png");
}

.photo-box:nth-child(20) {
  background-image: url("../assets/phoster20.png");
}

.photo-box:nth-child(21) {
  background-image: url("../assets/phoster21.png");
}

.photo-box:nth-child(22) {
  background-image: url("../assets/phoster22.png");
}

.photo-box:nth-child(23) {
  background-image: url("../assets/phoster23.png");
}

.photo-box:nth-child(24) {
  background-image: url("../assets/phoster24.png");
}

.photo-box:nth-child(25) {
  background-image: url("../assets/phoster25.png");
}

.photo-box:nth-child(26) {
  background-image: url("../assets/phoster26.png");
}

.photo-box:nth-child(27) {
  background-image: url("../assets/phoster27.png");
}

.photo-box:nth-child(28) {
  background-image: url("../assets/phoster28.png");
}

.photo-box:nth-child(29) {
  background-image: url("../assets/phoster29.png");
}

.photo-box:nth-child(30) {
  background-image: url("../assets/phoster30.png");
}

.photo-box:nth-child(31) {
  background-image: url("../assets/phoster31.png");
}

.photo-box:nth-child(32) {
  background-image: url("../assets/phoster32.png");
}

.photo-box:nth-child(33) {
  background-image: url("../assets/phoster33.png");
}

.photo-box:nth-child(34) {
  background-image: url("../assets/phoster34.png");
}

.photo-box:nth-child(35) {
  background-image: url("../assets/phoster35.png");
}

.photo-box:nth-child(36) {
  background-image: url("../assets/phoster36.png");
}

.photo-box:nth-child(37) {
  background-image: url("../assets/phoster37.png");
}

.photo-box:nth-child(38) {
  background-image: url("../assets/phoster38.png");
}

.photo-box:nth-child(39) {
  background-image: url("../assets/phoster39.png");
}

.photo-box:nth-child(40) {
  background-image: url("../assets/phoster40.png");
}

.photo-box:nth-child(41) {
  background-image: url("../assets/phoster41.png");
}

.photo-box:nth-child(42) {
  background-image: url("../assets/phoster42.png");
}

.photo-box:nth-child(43) {
  background-image: url("../assets/phoster43.png");
}

.photo-box:nth-child(44) {
  background-image: url("../assets/phoster44.png");
}

.photo-box:nth-child(45) {
  background-image: url("../assets/phoster45.png");
}

.photo-box:nth-child(46) {
  background-image: url("../assets/phoster46.png");
}

.photo-box:nth-child(47) {
  background-image: url("../assets/phoster47.png");
}

.photo-box:nth-child(48) {
  background-image: url("../assets/phoster48.png");
}

.photo-box:nth-child(49) {
  background-image: url("../assets/phoster49.png");
}

.photo-box:nth-child(50) {
  background-image: url("../assets/phoster50.png");
}/*# sourceMappingURL=test.css.map */